*~
*.py[co]
*.cpp
*.so
*.orig

### Python template
# Byte-compiled / optimized / DLL files
*__pycache__*
*.py[cod]
*$py.class
*experiments/explainers_metrics*

.cache
.idea
.project

_static
build
config
pics
pic
results
sphinx_docs
*explainers_metrics*
experiments/explainers_metrics/**/*_metrics.json

datasets
explanations
models
models_exp
results
data_info
#user_models_obj
#user_models_managers
user_datasets
PGE_gen_models

venv
venv_new


.vscode

gnn
torch_install
gnn_aid/.vscode

# Mac OS extentions
*.DS_Store

# Sphinx documentation
docs/_build/

