## This is other reqs needed for the whole project

# Base - models training
torch_scatter==2.1.1
torch_sparse==0.6.17
torch-cluster==1.6.1
torch-spline-conv==1.2.2

# For attacks
scikit-optimize==0.10.2

# For explainers
dive-into-graphs==1.1.0

# PGMExplainer
pgmpy==0.1.24

# For synthetic datasets
matplotlib

# For other datasets
dgl==1.1.0
mat73  # powergraph
