{% extends "base.html" %}
<!--{% set mode = "defense" %}-->

{% block title %}
    GNN-AID - Defense
{% endblock %}

{% block status %}
    Defense
{% endblock %}


{% block menu_before_train_content %}
  <div id="menu-model-beforetrain-view">
    <!-- generated stuff -->
  </div>
{% endblock %}

{% block menu_after_train_content %}
  <div id="menu-model-aftertrain-view">
    <!-- generated stuff -->
  </div>
{% endblock %}

{% block panel_attack_defense_content %}
<div class="info-panel mode attack" id="panel-attack-view" style="display: none">
    Attack panel
    <!-- generated stuff -->
</div>

{% endblock %}
